.-sidebar{
    -fx-background-color: linear-gradient(#ffffff 0%, #ffffff 25%, #f7f7f7 75%, #f7f7f7 100%);
}

.button{
    -fx-font-family: "Open Sans";
    -fx-font-size: 20px; 
    -fx-font-weight: BOLD ;
    -fx-text-fill: white;
}
.button#newFormBTN{
    -fx-color: #d81e05; 
    -fx-background-color: #d81e05; 
    -fx-text-alignment: left; 
    -fx-padding: 0.187em; 
    -fx-text-fill: white;
}
.button#newFormBTN > .title 
{
    -fx-color: #d81e05;
} 

.button#newFormBTN > *.content{
    -fx-background-color: #d81e05; 
    -fx-text-alignment: left; 
    -fx-padding: -5px; 
}
.button#newFormITEM{
    -fx-background-color: #d81e05;  
}
.button#newFormITEM:hover{
    -fx-background-color: #fc2507;  
}
.button#dashboardBTN{
    -fx-background-color:  linear-gradient(#d81e05 0%, #d81e05 25%, #e62119 75%, #e62119 100%);
    -fx-text-alignment: left;
}
.button#dashboardBTN:hover{
    -fx-background-color: linear-gradient(#fc2507 0%, #fc2507 25%, #fe4127 75%, #fe4127 100%); 
}

.button#searchBTN{
    -fx-background-color:  linear-gradient(#d81e05 0%, #d81e05 25%, #e62119 75%, #e62119 100%);
    -fx-text-alignment: left;
}
.button#searchBTN:hover{
    -fx-background-color: linear-gradient(#fc2507 0%, #fc2507 25%, #fe4127 75%, #fe4127 100%); 
}
.button#managerBTN{
    -fx-background-color:  linear-gradient(#d81e05 0%, #d81e05 25%, #e62119 75%, #e62119 100%);
    -fx-text-alignment: left;
}
.button#managerBTN:hover{
    -fx-background-color: linear-gradient(#fc2507 0%, #fc2507 25%, #fe4127 75%, #fe4127 100%); 
}

.button#logoutBTN{ 
    -fx-text-fill: #d81e05;
    -fx-background-color:  #cccccc;
    -fx-text-alignment: left;
}
.button#logoutBTN:hover{  
    -fx-background-color: #999999;
}
