/*
 * Empty Stylesheet file.
 */

.button#annuleerBTN{
    -fx-background-color: #f2f2f2;
    -fx-text-alignment: left;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
}
.button#annuleerBTN:hover{
    -fx-background-color: #bfbfbf;
}

.button#opslaanBTN{
    -fx-background-color: #6db93f;
    -fx-text-alignment: left;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
}
.button#opslaanBTN:hover{
    -fx-background-color: #2eb82e;
}